.Footer {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 12px;
    width: 90%;
    margin: 5px auto 5px auto;
    max-width: 1500px;
}

.Footer a, .Footer a:visited, .Footer a:hover {
    color: #5588ff;
}

@media (min-width:480px) {
    .Footer {
        margin: 0 auto 5px auto;
    }
}

@media (max-width:1000px) {
    .Footer {
        font-size: 11px;
    }
}

@media (max-width:700px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}