.container {
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1500px;
}

@media (min-width:480px) {
    .container {
        width: 90%;
        margin: 30px auto 20px auto;
    }
}